/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

section {
    margin-top: 100px;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    padding: 16px 34px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

/* header styles  */

/* navbar styles   */

/* header {
    padding: 50px 130px;
} */

.nav-title-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.travel-text {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 44px;
    font-size: 16px;
    font-weight: 400;
}

nav a {
    text-decoration: none;
}


nav img {
    width: 48px;
    height: 56.008px;
}

/* banner styles   */
.banner-content {
    margin-top: 50px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #FFF;
}

.banner-title {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-text {
    max-width: 676px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
}

.banner-content .section-text {
    max-width: 676px;
    margin-bottom: 48px;
}

.find-now {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.find-now-input input,
select {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    padding: 16px;
}


/* section styles  */

/* popular tours styles  */
.popular-tours {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.tour-detail .section-text {
    max-width: 577px;
    padding-top: 24px;
    margin: 0 auto;
}

.tour-list {
    padding-top: 24px;
}

.tour-list>li {
    padding-bottom: 16px;
    margin-left: 20px;
}

.tour-detail .btn-primary {
    margin-top: 32px;
}

/* choose destination styles  */
.choose-destination h3 {
    text-align: center;
    padding-bottom: 24px;
}

.choose-destination .section-text {
    max-width: 643px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 48px;
}

.destination-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}


.maldives,
.indonesia,
.srilanka,
.north-america,
.kashmir,
.bangladesh,
.bandarban {
    position: relative;
    background-color: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* why choose us section styles  */
.choose-us h3 {
    text-align: center;
    padding-bottom: 24px;
}

.choose-us .section-text {
    max-width: 643px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 48px;
}

.card {
    padding-left: 32px;
    padding-right: 55px;
    padding-top: 32px;
    padding-bottom: 32px;
}


.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    padding-bottom: 16px;
}

.card-text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    max-width: 486px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
